
.information {
    &__texto {
        margin-left: 5%;
        width: 40%;
        height: 125px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
    }

    &__texto--second {
        margin-top: -140px;
        margin-left: 55%;
        width: 40%;
        height: 125px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
    }
}
